body {
    font-family: sans-serif;
    font-size: 1.1em;
  }
  
  table {
    min-width: 60%;
    border-collapse: collapse;
    border: 1px solid #d8cccb;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  table > caption {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
    padding: 8px;
  }
  
  table > thead > tr,
  table > tbody > tr  {
    border-bottom: 1px solid #d8cccb;
  }
  
  table > thead > tr > th {
  }
  
  table > thead > tr > th,
  table > tbody > tr > td {
    padding: 8px;
    text-align: center;
    border-left: 1px solid #d8cccb;
  }
  